{% extends "base.html" %}
{% block title %}
<title>sights_dentency</title>
{% end %}

{% block head_link %}
<link rel="stylesheet" href="/static/css/sights_dentency.css" type="text/css" media="screen" title="no title" charset="utf-8">
{% end %}

{% block container %}
    <div id="select-form">
        <form class="form-inline" align="center">
            <div class="form-group">
                <label>省份</label>
                <select class="form-control" id="select_prov" name="province"> 
                    <option value="">全国范围</option>
                    <option value="北京">北京</option>
                    <option value="浙江">浙江</option>
                    <option value="天津">天津</option>
                    <option value="安徽">安徽</option>
                    <option value="上海">上海</option>
                    <option value="福建">福建</option> 
                    <option value="重庆">重庆</option>
                    <option value="江西">江西</option>
                    <option value="山东">山东</option>
                    <option value="河南">河南</option>
                    <option value="湖北">湖北</option>
                    <option value="湖南">湖南</option>
                    <option value="广东">广东</option>
                    <option value="海南">海南</option>
                    <option value="山西">山西</option>
                    <option value="青海">青海</option>
                    <option value="江苏">江苏</option>
                    <option value="辽宁">辽宁</option>
                    <option value="吉林">吉林</option>
                    <option value="台湾">台湾</option>
                    <option value="河北">河北</option>
                    <option value="贵州">贵州</option>
                    <option value="四川">四川</option>
                    <option value="云南">云南</option>
                    <option value="陕西">陕西</option>
                    <option value="甘肃">甘肃</option>
                    <option value="黑龙江">黑龙江</option>
                    <option value="香港">香港</option>
                    <option value="澳门">澳门</option>
                    <option value="广西">广西</option>
                    <option value="宁夏">宁夏</option>
                    <option value="新疆">新疆</option>
                    <option value="内蒙古">内蒙古</option>
                    <option value="西藏">西藏</option>
                </select>

                <label >月份</label>
                    <select class="form-control" id="select_month" name="month"> 
                    <option value="">全部</option>
                    <option value="1">一月</option>
                    <option value="2">二月</option>
                    <option value="3">三月</option>
                    <option value="4">四月</option>
                    <option value="5">五月</option>
                    <option value="6">六月</option> 
                    <option value="7">七月</option>
                    <option value="8">八月</option>
                    <option value="9">九月</option>
                    <option value="10">十月</option>
                    <option value="11">十一月</option>
                    <option value="12">十二月</option>
                    </select>

                    <label>时间</label>
                    <select class="form-control" id="time" name="time">
                        <option selected="selected" value="">不限时间</option>
                        <option value="morning">早上/上午</option>
                        <option value="noon">中午</option> 
                        <option value="afternoon">下午</option>
                        <option value="evening">晚上</option> 
                    </select>

                    <span id="query_button" class="btn btn-primary" onclick="jacascript:query_sights()";><span class="glyphicon glyphicon-search"></span> 查询</button> 
            </div>
        </form> 
    </div>
<div class="row">
    <div id="ChinaMap" style=>
        {% module xsrf_form_html() %}
        <div id="map"></div>
    </div>
    <div>
        <canvas style="cursor:pointer; float:left; margin-top: 30px;" id="my_canvas" width="320", height="280">
        </canvas>
    </div>
</div>
{% end %}

{% block footer %}
    <script src="//cdn.bootcss.com/wordcloud2.js/1.0.4/wordcloud2.js"></script>
    <script src="/static/js/raphael.js"></script>
    <script src="/static/js/chinamapPath.js"></script>
    <script src="/static/js/chinamap.js"></script>
    <script src="/static/js/query_sights.js"></script>
{% end %}
