<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>show</title>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/jumbotron-narrow.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/static/css/sights_dentency.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class='container'>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/user">user</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">GPWeibo</h3>
      </div>
      <div class="row">
        <div id="ChinaMap">
            {% module xsrf_form_html() %}
            <div id="map"></div>
        </div>
        <div>
          <canvas style="cursor:pointer; float:left; margin-top: 30px;" id="my_canvas" width="320", height="280">
          </canvas>
        </div>
      </div>
    </div>

    <script src="//cdn.bootcss.com/jquery/1.10.1/jquery.js"></script>
    <script src="//cdn.bootcss.com/jquery/1.10.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/wordcloud2.js/1.0.4/wordcloud2.js"></script>
    <script src="/static/js/raphael.js"></script>
    <script src="/static/js/chinamapPath.js"></script>
    <script src="/static/js/chinamap.js"></script>
</body>
</html>
