{% extends "main.html" %}
{% block title %}
    <title>sights_dentency</title>
{% end %}

{% block head_link %}
    <link rel="stylesheet" href="/static/css/sights_dentency.css" type="text/css" media="screen" title="no title" charset="utf-8">
{% end %}

{% block container %}
<div class="row">
    <div id="ChinaMap">
        {% module xsrf_form_html() %}
        <div id="map"></div>
    </div>
    <div>
        <canvas style="cursor:pointer; float:left; margin-top: 30px;" id="my_canvas" width="320", height="280">
        </canvas>
    </div>
</div>
{% end %}

{% block footer %}
    <script src="//cdn.bootcss.com/wordcloud2.js/1.0.4/wordcloud2.js"></script>
    <script src="/static/js/raphael.js"></script>
    <script src="/static/js/chinamapPath.js"></script>
    <script src="/static/js/chinamap.js"></script>
{% end %}
