{% extends "base.html" %}
{% block title %}
  <title>users</title>
{% end %}

{% block container %}
      <label class='btn btn-default'>当前用户总数：{{ uc }}</label>
      <label class='btn btn-default'>当前语料总数： {{ cc }}</label>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>wid</th>
            <th>name</th>
            <th>area</th>
            <th>cnum</th>
            <th>fans</th>
            <th>follows</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ escape(str(user['wid'])) }}</td>
            <td><a href="/user/{{ user['wid'] }}" target="_blank">{{ escape(user['name']) }}</a></td>
            <td>{{ escape(user['area']) }}</td>
            <td>{{ escape(str(user['cnum'])) }}</td>
            <td>{{ escape(str(user['fans'])) }}</td>
            <td>{{ escape(str(user['follows'])) }}</td>
          </tr>
          {% end %}
        </tbody>
      </table>
{% end %}
